:root {
  font-family: monospace;
  font-size: 1.25rem;
}

video {
  display: none;
}

body {
  padding: 1rem;
  display: grid;
  place-items: center;
}

header {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.logo {
  display: inline-block;
  background: #e2007a;
  padding-top: 3rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  color: white;
  box-shadow: 0.25rem 0.25rem 0 black;
}
small {
  font-size: 0.75rem;
}

main {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}

.flow > * + * {
  margin-top: 0.75rem;
}
.flow > * + * {
  margin-top: 1.25rem;
}

.info.flow > * + * {
  margin-top: 0.5rem;
}
.info {
  padding-top: 2.5rem;
}
@media (min-width: 700px) {
  .info {
    padding-top: 1rem;
  }
  .info.flow > * + * {
    margin-top: 1.25rem;
  }
}

.title {
  max-width: 40rem;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.15;
}

@media (min-width: 1000px) {
  .title {
    font-size: 2.5em;
    font-weight: bold;
  }
  .artist {
    font-size: 1.75em;
  }
}

.artist {
  line-height: 1.15;
}

.cover {
  position: relative;
}

.controls {
  position: absolute;
  bottom: 0;
  transform: translateY(75%) translateX(-50%);
  margin-left: 50%;
}

img {
  border: 2px solid;
  width: 133px;
  height: 133px;
}
@media (min-width: 700px) {
  img {
    width: 266px;
    height: 266px;
  }
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5rem;
}

.flex > * {
  margin: 0.5rem;
}

@media (min-width: 1000px) {
  .flex {
    margin: -1rem;
  }

  .flex > * {
    margin: 1rem;
  }
}

button:active {
  transform: translateY(0.25rem) translateX(0.25rem);
  box-shadow: none;
}

button {
  background: white;
  border: 2px solid;
  box-shadow: 0.25rem 0.25rem 0 black;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
